@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@700&family=Cinzel:wght@800&family=Didact+Gothic&family=Georama:wght@300&family=WindSong&display=swap');

* {
  box-sizing: border-box;
  justify-content: space-around;
  font-family: 'Georama', sans-serif;
}

form {
  padding: 15px;
  box-shadow: 5px 10px 18px #888888;
}

input {
  width: 100%;
  padding: 16px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

button {
  color: white;
  padding: 14px 0;
  margin: 10px 0;
  border: none;
  cursor: grabbing;
  width: 100%;
}

button[type=submit] {
  background-color: #8ebf42;

}

button[type=reset] {
  background-color: #df3333;
}

h1 {
  text-align: center;
}

button:hover {
  opacity: 0.8;
}

.form-container {
  text-align: left;
  margin: 24px 50px 12px;
}

textarea {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 700px) {
  form {
    padding: 5px;
    margin: 0px;
  }
}