@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@700&family=Cinzel:wght@800&family=Didact+Gothic&family=Georama:wght@300&family=WindSong&display=swap');

* {
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
  justify-content: space-around;
  font-family: 'Georama', sans-serif;
}

.resume-card {
  margin: 10px;
  border: 1px solid;
}

.resume-header {
  display: flex;
  justify-content: space-evenly;

}

ul {
  list-style: none;
  justify-content: space-between;
}

.contacts li {
  display: inline;
  justify-content: space-evenly;
}

h4 {
  color: rgba(46, 188, 174, 255);
  font-family: 'Didact Gothic', sans-serif;
}

hr {
  width: 10%;
  padding: 0px;
  border: 1px solid rgba(46, 188, 174, 255);
}

.academic-info-table {
  border: 1px solid;
}

.skills-info {
  width: 100%;
  display: inline-flex;
  object-position: center;
}

progress {
  padding: 0px;
  border-radius: 10px;
  width: 100%;
  height: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 700px) {
  * {
    padding: 3px;
  }

  .resume-header {
    display: block;
    justify-content: center;

  }

  .profile-pic img {
    padding-left: 20%;

  }

  .contacts li {
    display: block;
  }

  .skills-info {
    justify-content: center;
    display: block;
  }

  progress {
    width: 50%;
  }
}