<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  <title>Resumify</title>
</head>

<body>
  <h1>Resumify</h1>
  <hr style="width: 20rem;">
  <h4 style="text-align: center;">Create your own resume</h4>
  <div class="form-container">
    <form action="{{ url_for('display_resume') }}" method="POST">
      <h1>User Details</h1>
      <hr style="border-style: dashed;" />
      <div class="personal-details">
        <label>Personal Details</label>
        <hr align="left" width="30%">
        <input type="text" placeholder="First Name*" name="first_name" required>
        <input type="text" placeholder="Middle Name" name="middle_name">
        <input type="text" placeholder="Last Name*" name="last_name" required>
        <textarea rows="5" placeholder="About" name="about"></textarea>
      </div>
      <div class="academic-details">
        <label>Education</label>
        <hr align="left" width="30%">
        <input type="text" placeholder="Secondary School or 10th Equivalent*" name="secondary_school" required>
        <input type="text" placeholder="Higher Secondary School or 12th Equivalent*" name="higher_secondary_school"
          required>
        <input type="text" placeholder="University or College" name="university">
      </div>
      <div class="contact-details">
        <label>Contacts</label>
        <hr align="left" width="30%">
        <input type="tel" placeholder="Phone Number*" name="phone" required>
        <input type="email" placeholder="Email Address*" name="email" required>
        <textarea rows="5" placeholder="Address" name="address"></textarea>
      </div>
      <div class="project-details">
        <label>Projects</label>
        <hr align="left" width="30%">
        <input type="text" placeholder="Project 1" name="project_1">
        <input type="text" placeholder="Project 2" name="project_2">
        <input type="text" placeholder="Project 3" name="project_3">
      </div>
      <div class="experience-details">
        <label>Experience</label>
        <hr align="left" width="30%">
        <textarea rows="5" placeholder="Experience Description" name="experience"></textarea>
      </div>
      <button type="submit">Submit</button>
      <button type="reset">Clear</button>
    </form>
  </div>
</body>

</html>