<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resume.css') }}">
  <title>Resumify</title>
</head>

<body>
  <div class="resume-card">
    <div class="resume-header" style="background: indianred;margin: 10px;">
      <div class="resume-title" style="padding: 50px;">
        <h1 style="font-family: 'Cinzel', serif; color: white;">{{result.first_name}} {{result.middle_name}}
          {{result.last_name}}</h1>
        <ul class="contacts" style="font-family: 'Cinzel', serif; color: white;">
          <li>{{result.phone}}</li>
          <li>{{result.email}}</li>
          <li>{{result.address}}</li>
        </ul>
      </div>
    </div>
    <div class="resume-content" style="background: lightgrey;margin: 10px;">
      <div class="about">
        <h4>About Me</h4>
        <hr><br>
        <p class="about-me-content">{{result.about}}</p>
      </div>
      <div class="academic-info">
        <h4>Academics</h4>
        <hr><br>
        <table class="academic-info-table" style="margin:auto; width: 75% !important;">
          <thead>
            <tr>
              <th>&#10063;</th>
              <th>Name of Institue</th>
              <th>Education</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>{{result.secondary_school}}</td>
              <td>Secondary School</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>{{result.higher_secondary_school}}</td>
              <td>Higher Secondary School</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>{{result.university}}</td>
              <td>University</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="skills">
        <h4>Skills</h4>
        <hr><br>
        <div class="skills-info">
          <div class="technical" style="border: 1px solid burlywood;">
            <h5>Projects</h5>
            <ul>
              <li>{{result.project_1}}</li>
              <li>{{result.project_2}}</li>
              <li>{{result.project_3}}</li>
            </ul>
          </div>
          <div class="non-technical" style="border: 1px solid burlywood;">
            <h5>Experience</h5>
            <p>{{result.experience}}</p>
          </div>
        </div>
      </div>
      <div>
        <h4>Declaration</h4>
        <hr><br>
        <p>I hereby declare that all the information contained in this resume is in accordance with facts or
          truths to my knowledge. I take full responsibility for the correctness of the said information.</p>
        <br><br>
        <p style="font-family: 'WindSong', cursive;">{{result.first_name}}{{result.last_name}}</p>
        <hr>
      </div>
    </div>

  </div>
</body>

</html>